 <% javascript 'anomalias' %>
<div class="well fields">
	<fieldset>
		<%= f.fields_for :incidencias, Incidencia.new do |i| %>
		<legend>Incidencia</legend>
		<div class="clearfix">
			<%= i.label :anomalia_id, 'Irregularidad - Causa' %>
			<div class="input" id="causa">
				<%= i.grouped_collection_select(:anomalia_id, TipoAnomalia.all, :anomalias, :descripcion, :id, :descripcion, :include_blank => 'Seleccione') %>
			</div>
		</div>
		<div class="clearfix">
			<%= i.label :descripcion, 'Descripción' %>
			<div class="input">
				<%= i.text_area :descripcion, :rows => 3, :class => 'descripcion_incidencia' %>
			</div>
		</div>
	</fieldset>
	<% end %>
</div>
