<h2>Mesa #<%= f.object.numero %></h2>

<p>
<%= f.label :votos_hc, "¿Cuántos votaron por HC?" %>
<%= f.text_field :votos_hc %>
</p>


<p>
<%= f.label :votos_ll, "¿Cuántos votaron por LL?" %>
<%= f.text_field :votos_ll %>
</p>

<p>
<%= f.label :votos_pp, "¿Cuántos votaron por PP?" %>
<%= f.text_field :votos_pp %>
</p>

<p>
<%= f.label :votos_mc, "¿Cuántos votaron por MC?" %>
<%= f.text_field :votos_mc %>
</p>

<p>
<%= f.label :votos_da, "¿Cuántos votaron por DA?" %>
<%= f.text_field :votos_da %>
</p>

<p>
<%= f.label :votos_pc, "¿Cuántos votaron por PM?" %>
<%= f.text_field :votos_pm %>
</p>