  <h1>Primera Llamada <small> <%= @centro.nombre %> </small></h1>
	<% if @centro.coordinador %>
	<h3><%= link_to "#{@centro.coordinador.nombre}, Tlfs: #{@centro.coordinador.telefono1}  #{@centro.coordinador.telefono2}", modificar_coordinador_path(@centro) %></h3>
	<% else  %>
	<em>Este centro no tiene coordinador</em>
	<% end  %>
</div>
<%= form_for @centro, :url => {:action => "abrir_centro"}  do |f| %>
<% if @centro.errors.any? %>
	<ul class="erroresval">
		<% @centro.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<div class="row">
	<div class="span1"> &nbsp; </div>
	<div class="span6">
		<fieldset>
			<div class="clearfix">
				<%= f.label :abrio, '¿Abrió el centro?' %>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>

								<%= f.radio_button :abrio, true, :checked => @centro.abrio == nil ? false : true %>
								<span><%= 'Sí' %></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.radio_button :abrio, false, :checked => @centro.abrio == nil ? true : false %>
								<span><%= 'No' %></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
				
			<div class="clearfix">
				<%= f.label :instalacion_correcta, '¿Se instaló el centro de forma correcta?' %>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.radio_button :instalacion_correcta, :true %>
								<span><%= 'Sí' %></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.radio_button :instalacion_correcta, :false %>
								<span><%= 'No' %></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="clearfix">
				<%= f.label :testigos_nuestros_presentes, '¿Se encuentran nuestros miembros y testigos?' %>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.radio_button :testigos_nuestros_presentes, :true %>
								<span><%= 'Sí' %></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.radio_button :testigos_nuestros_presentes, :false  %>
								<span><%= 'No' %></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="clearfix">
				<%= f.label :otros_testigos_presentes, '¿Están los testigos de otros candidatos?' %>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.radio_button :otros_testigos_presentes, :true %>
								<span><%= 'Sí' %></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.radio_button :otros_testigos_presentes, :false %>
								<span><%= 'No' %></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="clearfix">
				<%= f.label :plan_republica_presente, '¿Llegó el Plan República?' %>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.radio_button :plan_republica_presente, :true %>
								<span><%= 'Sí' %></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.radio_button :plan_republica_presente, :false %>
								<span><%= 'No' %></span>
							</label>
						</li>
					</ul>
				</div>
			</div>

		</fieldset>
	</div>
	<div class="span7">

		<%= render "incidencia_form", :f => f %>
		
		<p id="link_add" ><%= link_to_add_fields 'Agregar Nueva Incidencia', f, :incidencias %></p>
	</div>
</div>
<div class="row">
	<div class="span14">
	<div class="actions">
		<%= f.submit "Guardar", :disable_with => 'Guardando...', :class => 'btn primary'%>
		<button type="reset" class="btn"> Resetear </button>
	</div>
	</div>
</div>

<% end %>