<h1 id="ultima_llamada">&Uacute;ltima Llamada</h1>

<%= h @centro.nombre %>
<%= form_for @centro do |f| %>
<p>
	<%= f.label :cerro, "¿Cerró el centro?" %>
	<%= f.label :cerro, 'Sí' %>
	<%= f.radio_button :cerro, Time.now, :id => 'centro_cerro' %>
	<%= f.label :cerro, 'No'%>
	<%= f.radio_button :cerro, false %>

</p>

<p>
	<%= f.label :escrutinio, "¿Se hizo el escrutinio?" %>
	<%= f.label :escrutinio, 'Sí' %>
	<%= f.radio_button :escrutinio, Time.now, :id => 'centro_escrutinio' %>
	<%= f.label :escrutinio, 'No'%>
	<%= f.radio_button :escrutinio, false %>
</p>

<p>	
	<%= f.fields_for :mesas do |builder| %>
	<%= render 'mesas_form', :f => builder %>
	<% end %>
</p>

	<%= f.submit "Guardar", :disable_with => 'Guardando...' %>
<% end %>