	<h1 id="ultima_llamada">&Uacute;ltima Llamada <small> <%= @centro.nombre %> </small></h1>
</div>
<%= form_for @centro do |f| %>
<div class="row">
	<div class="span3"> &nbsp; </div>
	<div class="span7">
		<fieldset>
			<div class="clearfix">
				<%= f.label :cerro, "¿Cerró el centro?" %>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.radio_button :cerro, Time.now, :id => 'centro_cerro' %>
								<span><%= 'Sí' %></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.radio_button :cerro, false %>
								<span><%= 'No' %></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
		
			<div class="clearfix">
				<%= f.label :escrutinio, "¿Se hizo el escrutinio?" %>
				<div class="input">
					<ul class="inputs-list">
						<li>
							<label>
								<%= f.radio_button :escrutinio, Time.now, :id => 'centro_escrutinio' %>
								<span><%= 'Sí' %></span>
							</label>
						</li>
						<li>
							<label>
								<%= f.radio_button :escrutinio, false %>
								<span><%= 'No' %></span>
							</label>
						</li>
					</ul>
				</div>
			</div>

			<%= f.fields_for :mesas do |builder| %>
			<%= render 'mesas_form', :f => builder %>
			<% end %>

			<div class="actions">
				<%= f.submit "Guardar", :disable_with => 'Guardando...', :class => 'btn primary'%>
				<button type="reset" class="btn"> Cancelar </button>
			</div>
		</fieldset>
	</div>
</div>
<% end %>
