	<h2 id="centro"><%= @centro.nombre %></h2>
	<% if @centro.coordinador %>
	<h3><%= link_to "#{@centro.coordinador.nombre}, Tlfs: #{@centro.coordinador.telefono1}  #{@centro.coordinador.telefono2}", modificar_coordinador_path(@centro) %></h3>
	<% else  %>
	<em>Este centro no tiene coordinador</em>
	<% end  %>
	<div class="row">
		<div class="span7">
			<h6><%= @centro.parroquia.municipio.estado.nombre %> > <%= @centro.parroquia.municipio.nombre %> > <%= @centro.parroquia.nombre %></h6>
		</div>
		<div class="span3 offset4">
			<%= link_to '← Volver a Centros', centros_path, :class => 'btn' %>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="span1">&nbsp;</div>
	<div class="span6" style="border-right:1px solid #eee;">
		<h3>Primera Llamada</h3>
		<ul>
			<li id="centro_abrio"> ¿Abri&oacute; el centro?: 
				<strong><%= @centro.abrio != nil ? 'Sí (' + @centro.abrio.strftime("%I:%M%p") + ')' : 'No' %></strong> </li>
			<li id="centro_instalacion_correcta"> ¿Se instal&oacute; el centro de forma correcta?: <strong><%= @centro.instalacion_correcta ? 'Sí' : 'No'  %></strong> </li>
			<li id="centro_testigos_nuestros_presentes"> ¿Se encuentran nuestros miembros y testigos?: <strong><%= @centro.testigos_nuestros_presentes ? 'Sí' : 'No'  %></strong> </li>
			<li id="centro_otros_testigos_presentes"> ¿Est&aacute;n los testigos de otros candidatos?: <strong><%= @centro.otros_testigos_presentes ? 'Sí' : 'No'  %></strong> </li>
			<li id="centro_plan_republica_presente"> ¿Lleg&oacute; el Plan Rep&uacute;blica?: <strong><%= @centro.plan_republica_presente ? 'Sí' : 'No'  %></strong> </li>
		</ul>
		<p style="margin-top:-15px;"></p>
		 <%= link_to 'Modificar', abrir_centro_path(@centro) %>
<br/><br/>
		<h3>&Uacute;ltima Llamada</h3>
		<ul class="unstyled">
			<li>¿Cerr&oacute; el centro?: <strong><%= @centro.cerro != nil ? 'Sí (' + @centro.cerro.strftime("%I:%M%p") + ')' : 'No' %></strong> </li>
			<li>¿Se hizo el escrutinio?: <strong><%= @centro.escrutinio != nil ? 'Sí (' + @centro.escrutinio.strftime("%I:%M%p") + ')' : 'No' %></strong> </li>
		</ul>
		<p style="margin-top:-15px;"></p>
		<%= link_to 'Modificar', cerrar_centro_path(@centro) %>
		
		<% for mesa in Mesa.where :centro_id => @centro.id %>
		<h5>Mesa <%= mesa.numero %></h5>
		<ul>
			<li> Votos HC: <strong><%= mesa.votos_hc %> </strong> </li>
			<li> Votos LL: <strong><%= mesa.votos_ll %> </strong> </li>
			<li> Votos PP: <strong><%= mesa.votos_pp %> </strong> </li>
			<li> Votos MC: <strong><%= mesa.votos_mc %> </strong> </li>
			<li> Votos DA: <strong><%= mesa.votos_da %> </strong> </li>
			<li> Votos PM: <strong><%= mesa.votos_pm %> </strong> </li>
		</ul>
		<% end %>
	</div>
	<!-- <div class="span1">&nbsp;</div> -->
	<div class="span6">
		<h3 id="llamadas"> Llamadas de control </h3>
		<ol>
		<% for llamada in Llamada.where :centro_id => @centro.id %>
			<li>(<%= llamada.hora.strftime("%I:%M%p") %>)
			<ul>
				<li class="funcionando"> ¿El centro est&aacute; funcionando correctamente?: <strong><%= llamada.funcionando ? 'Sí' : 'No' %></strong> </li>
				<li class="votos"> ¿Cu&aacute;ntas personas han votado?: <strong><%= llamada.votos %></strong> </li>
				<li class="cerrado_forzado"> ¿Cerraron el centro de manera forzada? <strong><%= llamada.cerrado_forzado ? 'Sí' : 'No' %></strong> </li>
			</ul>
			<p style="margin-top:-7px;"></p>
			<%= link_to 'Modificar', modificar_llamada_path(llamada) %>
			</li>
			<br/><br/>
		<% end %>
		</ol>
		
		<h3>Incidencias</h3>
		<% for incidencia in Incidencia.where :centro_id => @centro.id %>
		<div class="alert-message block-message warning">
			<% anomalia = Anomalia.find(incidencia.anomalia_id) %>
			<p class="hora"> <%= '(' + incidencia.updated_at.strftime("%I:%M%p") +') ' %> </p><br/>
			<strong>	<%=  TipoAnomalia.find(anomalia.tipo_anomalia_id).descripcion + ' > ' + anomalia.descripcion %> </strong>
			<p> <%= incidencia.descripcion %>  </p>
			<p style="margin-top:7px;"></p>
			<%= link_to 'Modificar', modificar_incidencia_path(incidencia) %>
			
		</div>
		<% end %>
	</div>
</div>
